body {
	width:300px;
	height:100px;
	font-family: Arial;
}

input {
	width:150px;
}

button{
	width:40px;
}

#roll_out{
	text-align: center;
	font-size: 16px;
	display: inline-block;
	border-radius: 25px;
	width: 40px;
	height: 20px;
	position: absolute;
  	left: 40%;
	padding-top: 5px;
	border-width: 2px;
	border-color: #000;
	border-style: solid;
}